.transactionHistory {

    width: 450px;
    border-collapse: collapse;
    border: 1px solid #212121;
    box-shadow:0 0  5px #212121;
}

.thead {

    background-color: aqua;
}

.thead th:nth-child(even) {

    border-right: 1px solid #212121;
    border-left: 1px solid #212121
}




.tbody {
    text-align: center;
}

.tbody tr:nth-child(even) {
    background-color: rgb(201, 190, 211);
}

.tbody td:nth-child(even) {
    border-right: 1px solid #212121;
    border-left: 1px solid #212121
}